.bg{
  background-color: khaki;
  color: darkolivegreen;
}

.navbar {
  flex: 0 0 auto; /* Ensure navbar doesn't collapse */
}



.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  padding: 20px; /* Add padding to ensure content is not hidden behind the navbar */
  height: calc(100vh - 56px); /* Adjust height to account for navbar height */
}